services:
  kong:
    container_name: kong
    ports:
      - "80:80"
      - "8001:8001"
      - "8002:8002"
    depends_on:
      - kong-db
    image: kong/kong:3.9.1
    environment:
      - KONG_DATABASE=postgres
      - KONG_PG_HOST=kong-db
      - KONG_PG_USER=kong
      - KONG_PG_PASSWORD=kong
      - KONG_ADMIN_LISTEN=0.0.0.0:8001
      - KONG_PROXY_LISTEN=0.0.0.0:80
    models:
      - llm
  kong-db:
    container_name: kong-db
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=kong
      - POSTGRES_DB=kong
      - POSTGRES_PASSWORD=kong
  kong-migration:
    container_name: kong-migration
    image: kong/kong:3.9.1
    depends_on:
      - kong-db
    command: "kong migrations bootstrap"
    environment:
      - KONG_DATABASE=postgres
      - KONG_PG_HOST=kong-db
      - KONG_PG_USER=kong
      - KONG_PG_PASSWORD=kong

models:
  llm:
    model: ai/smollm2
